<div class="row post">
    <div class="col-md-12 text-center">
        <h2>
            {{ post.title }}
        </h2>
    </div>
    <div class="col-md-12 text-center">
        <img alt="{{ post.title }}" src="{{ uploadDir ~ '/' ~ post.name }}" class="img-responsive">
    </div>
</div>
